
        .features__inner {
            padding: 0 40px;
        }

        .features__heading {
            text-align: center;
        }

        .features__title {
            font-weight: bold;
            font-size: 30px;
            line-height: 36px;
            color: #36467e;
        }

        .features__body {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }

        .features .info-features {
            width: 100%;
        }

        .features .info-features__list {
            display: grid;
            grid-template-columns: repeat(auto-fill, 227px);
            row-gap: 20px;
            column-gap: 25px;
        }

        .features .info-features__about {
            margin-top: 10px;
        }

        .features .info-features__title {
            font-size: 18px;
            line-height: 22px;
            color: #575c6d;
        }

        .features .info-features__text {
            margin-top: 11px;
            font-size: 15px;
            line-height: 18px;
            color: #5c5c5c;
            padding: 0 9px 17px 0;
        }

        .features .info-features__watch {
            padding-bottom: 12px;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            color: #ff940d;
            position: relative;
        }

        .features .info-features__watch::after {
            position: absolute;
            display: block;
            content: "";
            width: 86px;
            height: 40px;
            right: -20px;
            top: -20px;
            background: url("./assets/images/features/arrow.png");
        }

        .features__video {
            position: relative;
            display: flex;
            align-items: center;
        }