.header-language {
    position: relative;
}

.header-language__menu {
    display: none;
}

.header-language .menu-language__title {
    font-size: 18px;
    line-height: 22px;
    color: #3d4e67;
    text-align: center;
}

.header-language .menu-language__list {
    margin-top: 25px;
}

.header-language .menu-language__item:hover {
    background-color: #f4f4f4;
    border-radius: 11px;
}

.header-language .menu-language__item+.menu-language__item {
    margin-top: 15px;
}

.header-language .menu-language__link {
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.header-language .menu-language__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e67;
    margin-left: 19px;
}

.header-language.active .header-language__menu {
    display: block;
    width: 189px;
    height: 191px;
    background-color: #fff;
    position: absolute;
    display: block;
    content: "";
    left: -65px;
    top: 51px;
    border-radius: 0 0 4px 4px;
    padding: 14px 11px 26px 8px;
}

.overflow {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .menu-wrapper {
        display: block;
    }
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    z-index: 100;
    top: 0;
    display: none;
    padding: 0 10px;
}

.popup__body {
    max-width: 375px;
    width: 100%;
    padding: 37px 23px 31px 23px;
    border-radius: 7px;
    box-shadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
    background-color: #fff;
}

.popup__heading {
    text-align: center;
    font-size: 21px;
    line-height: 25px;
    color: #36467e;
}

.popup .socials-popup {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #5c5c5c;
}

.popup .socials-popup__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 139px;
    margin: 15px auto 0 auto;
}

.popup .socials-popup__text {
    margin-top: 15px;
    display: block;
}

.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup__input {
    height: 45px;
    border-radius: 4px;
    padding-left: 10px;
}

.popup__input+.popup__input {
    margin-top: 30px;
}

.popup__email {
    border: 1px solid #bdbdbd;
    background-color: #f7faff;
    color: #333333;
    margin-top: 15px;
}

.popup__submit {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background-color: #ff940d;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.popup .terms-popup {
    text-align: center;
    margin-top: 12px;
}

.popup .terms-popup__text {
    font-size: 14px;
    line-height: 17px;
    color: #5c5c5c;
}

.popup .terms-popup__link {
    font-size: 14px;
    line-height: 17px;
    color: #00c3bc;
}

.popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    column-gap: 40px;
}

.slick-arrow {
    position: absolute;
    display: block;
    content: "";
    width: 55px;
    height: 54px;
    padding: 0;
    z-index: 10;
    outline: none;
    border: none;
}

.list-feedback__prev {
    background: url("../../images/feedback/prev.png");
    left: -58px;
}

.list-feedback__next {
    right: -69px;
    background: url("../../images/feedback/next.png");
}

.header {
    background: url("../../images/header/background.jpg") center center;
}

.header__inner {
    min-height: 572px;
}

.header__top {
    background-color: #fff;
}

.header .top__wrapper {
    height: 58px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .top__wrapper .left-header {
    display: flex;
    justify-content: space-between;
    max-width: 612px;
    width: 100%;
}

.header .top__wrapper .left-header .nav-header {
    max-width: 390px;
    width: 100%;
}

.header .top__wrapper .left-header .nav-header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 320px;
    padding: 0 5px;
}

.header .top__wrapper .left-header .nav-header__item {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.header .top__wrapper .left-header .nav-header__link {
    color: #5c5c5c;
}

.header .top__wrapper .right-header {
    max-width: 312px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .top__wrapper .right-header .header-language__choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3d4e67;
    cursor: pointer;
}

.header .top__wrapper .right-header .header-language.active .header-language__arrow {
    transform: rotate(180deg);
}

.header .top__wrapper .right-header__login {
    cursor: pointer;
}

.header .top__wrapper .right-header__login .login__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #5c5c5c;
}

.header .top__wrapper .right-header__registration {
    cursor: pointer;
}

.header .top__wrapper .right-header__registration .registration__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #21c3be;
}

.header__start {
    margin-top: 61px;
    display: flex;
    justify-content: space-between;
}

.header__start .left-start {
    color: #36467e;
    max-width: 666px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__start .left-start__title {
    font-weight: 800;
    font-size: 37px;
    line-height: 53px;
}

.header__start .left-start__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    margin-top: 12px;
}

.header__start .left-start .total {
    max-width: 568px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    color: #36467e;
}

.header__start .left-start .total__count {
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
}

.header__start .left-start .total__text {
    font-size: 20px;
    line-height: 24px;
}

.header__start .left-start .total__hours {
    font-size: 20px;
    line-height: 24px;
}

.header__start .right-start {
    flex: 0 0 375px;
    height: 415px;
    background-color: #fff;
    box-shadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
    border-radius: 7px;
    padding: 23px;
}

.header__start .right-start__heading {
    text-align: center;
}

.header__start .right-start__title {
    font-size: 21px;
    line-height: 25px;
    color: #36467e;
}

.header__start .right-start__body {
    max-width: 310px;
    margin: 30px auto 0 auto;
}

.header__start .right-start .form__input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    padding-left: 10px;
}

.header__start .right-start .form__input+.form__input {
    margin-top: 15px;
}

.header__start .right-start__email,
.header__start .right-start__password {
    border: 1px solid #bdbdbd;
    background-color: #f7faff;
    color: #333333;
}

.header__start .right-start__email::placeholder {
    opacity: 0.8;
    color: #828d9f;
}

.header__start .right-start__password::placeholder {
    font-size: 14px;
}

.header__start .right-start__submit {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background-color: #00c3bc !important;
    cursor: pointer;
    border: none;
}

.header__start .right-start .terms {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #5c5c5c;
}

.header__start .right-start .terms__link {
    color: #00c3bc;
}

.header__start .right-start .social {
    margin-top: 30px;
    font-size: 16px;
    line-height: 19px;
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__start .right-start .social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 139px;
}