:root {
  scrollbar-width: thin !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

a:active, a:focus {
  border: none;
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Bold.woff") format("woff"), url("../../fonts/Lato-Bold.woff") format("truetype");
  font-weight: 700;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

img {
  max-width: none;
}

section {
  margin-top: 80px;
}

.yt__wrapper {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background: rgba(255, 238, 216, 0.36);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 47px);
  cursor: pointer;
}
.yt__circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #ff940d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yt__arrow {
  width: 39px;
  height: 39px;
  background: url("../../images/features/yt__arrow.png") no-repeat 74% center;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#hamburger-icon {
  width: 100px;
  height: 50px;
  position: relative;
  z-index: 99999;
  display: none;
}
#hamburger-icon .line {
  display: block;
  background: #ecf0f1;
  width: 100px;
  height: 8px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
  top: 0;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}
#hamburger-icon .line.line-3 {
  top: 100%;
}
#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
}
#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
}
#hamburger-icon.active .line-1 {
  transform: translateY(25px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
  -moz-transform: translateY(25px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-25px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-25px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
}

.menu-wrapper {
  margin-left: 29px;
  display: none;
}

#header-menu {
  width: 30px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#header-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00c3bc;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#header-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#header-menu span:nth-child(2) {
  top: calc(50% - 1px);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#header-menu span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#header-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}
#header-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#header-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% + 9px);
  left: calc(50% - 12px);
}

.drop-menu {
  width: 213px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 7px rgba(148, 183, 197, 0.25);
  position: absolute;
  top: 58px;
  z-index: 20;
  display: none;
  padding: 17px;
}
.drop-menu.open {
  display: block;
}
.drop-menu .top-drop__item + .top-drop__item {
  margin-top: 15px;
}
.drop-menu .top-drop__link {
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #3d4e67;
}
.drop-menu .top-drop__link_premium {
  color: #ff9900;
}
.drop-menu .drop-menu__line {
  height: 1px;
  background-color: #dadada;
  margin: 15px 0;
}
.drop-menu .language-drop__title {
  font-size: 15px;
  line-height: 18px;
  color: #3d4e67;
}
.drop-menu .language-drop__body {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.drop-menu .language-drop__wrapper {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.drop-menu .language-drop__wrapper.current {
  border: 1px solid #00c3bc;
}
.drop-menu .language-drop__wrapper + .language-drop__wrapper {
  margin-left: 15px;
}
.drop-menu .language-drop__flag {
  width: 30px;
}
.drop-menu .language-drop__text {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #3d4e67;
  margin-left: 7px;
}
.drop-menu .bottom-drop__item + .bottom-drop__item {
  margin-top: 15px;
}
.drop-menu .bottom-drop__link {
  display: flex;
  align-items: center;
}
.drop-menu .bottom-drop__text {
  margin-left: 15px;
  color: #3d4e67;
}

.header-language {
  position: relative;
}
.header-language__menu {
  display: none;
}
.header-language .menu-language__title {
  font-size: 18px;
  line-height: 22px;
  color: #3d4e67;
  text-align: center;
}
.header-language .menu-language__list {
  margin-top: 25px;
}
.header-language .menu-language__item:hover {
  background-color: #f4f4f4;
  border-radius: 11px;
}
.header-language .menu-language__item + .menu-language__item {
  margin-top: 15px;
}
.header-language .menu-language__link {
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.header-language .menu-language__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3d4e67;
  margin-left: 19px;
}

.header-language.active .header-language__menu {
  display: block;
  width: 189px;
  height: 191px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  left: -65px;
  top: 51px;
  border-radius: 0 0 4px 4px;
  padding: 14px 11px 26px 8px;
}

.overflow {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu-wrapper {
    display: block;
  }
}
.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  z-index: 100;
  top: 0;
  display: none;
  padding: 0 10px;
}
.popup__body {
  max-width: 375px;
  width: 100%;
  padding: 37px 23px 31px 23px;
  border-radius: 7px;
  box-shadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
  background-color: #fff;
}
.popup__heading {
  text-align: center;
  font-size: 21px;
  line-height: 25px;
  color: #36467e;
}
.popup .socials-popup {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
.popup .socials-popup__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 139px;
  margin: 15px auto 0 auto;
}
.popup .socials-popup__text {
  margin-top: 15px;
  display: block;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup__input {
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
}
.popup__input + .popup__input {
  margin-top: 30px;
}
.popup__email {
  border: 1px solid #bdbdbd;
  background-color: #f7faff;
  color: #333333;
  margin-top: 15px;
}
.popup__submit {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background-color: #ff940d;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.popup .terms-popup {
  text-align: center;
  margin-top: 12px;
}
.popup .terms-popup__text {
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
.popup .terms-popup__link {
  font-size: 14px;
  line-height: 17px;
  color: #00c3bc;
}

.popup.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  column-gap: 40px;
}

.slick-arrow {
  position: absolute;
  display: block;
  content: "";
  width: 55px;
  height: 54px;
  padding: 0;
  z-index: 10;
  outline: none;
  border: none;
}

.list-feedback__prev {
  background: url("../../images/feedback/prev.png");
  left: -58px;
}

.list-feedback__next {
  right: -69px;
  background: url("../../images/feedback/next.png");
}

.header {
  background: url("../../images/header/background.jpg") center center;
}
.header__inner {
  min-height: 572px;
}
.header__top {
  background-color: #fff;
}
.header .top__wrapper {
  height: 58px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .top__wrapper .left-header {
  display: flex;
  justify-content: space-between;
  max-width: 612px;
  width: 100%;
}
.header .top__wrapper .left-header .nav-header {
  max-width: 390px;
  width: 100%;
}
.header .top__wrapper .left-header .nav-header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 320px;
  padding: 0 5px;
}
.header .top__wrapper .left-header .nav-header__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}
.header .top__wrapper .left-header .nav-header__link {
  color: #5c5c5c;
}
.header .top__wrapper .right-header {
  max-width: 312px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .top__wrapper .right-header .header-language__choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #3d4e67;
  cursor: pointer;
}
.header .top__wrapper .right-header .header-language.active .header-language__arrow {
  transform: rotate(180deg);
}
.header .top__wrapper .right-header__login {
  cursor: pointer;
}
.header .top__wrapper .right-header__login .login__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #5c5c5c;
}
.header .top__wrapper .right-header__registration {
  cursor: pointer;
}
.header .top__wrapper .right-header__registration .registration__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #21c3be;
}
.header__start {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
}
.header__start .left-start {
  color: #36467e;
  max-width: 666px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__start .left-start__title {
  font-weight: 800;
  font-size: 37px;
  line-height: 53px;
}
.header__start .left-start__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  margin-top: 12px;
}
.header__start .left-start .total {
  max-width: 568px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  color: #36467e;
}
.header__start .left-start .total__count {
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
}
.header__start .left-start .total__text {
  font-size: 20px;
  line-height: 24px;
}
.header__start .left-start .total__hours {
  font-size: 20px;
  line-height: 24px;
}
.header__start .right-start {
  flex: 0 0 375px;
  height: 415px;
  background-color: #fff;
  box-shadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
  border-radius: 7px;
  padding: 23px;
}
.header__start .right-start__heading {
  text-align: center;
}
.header__start .right-start__title {
  font-size: 21px;
  line-height: 25px;
  color: #36467e;
}
.header__start .right-start__body {
  max-width: 310px;
  margin: 30px auto 0 auto;
}
.header__start .right-start .form__input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
}
.header__start .right-start .form__input + .form__input {
  margin-top: 15px;
}
.header__start .right-start__email, .header__start .right-start__password {
  border: 1px solid #bdbdbd;
  background-color: #f7faff;
  color: #333333;
}
.header__start .right-start__email::placeholder {
  opacity: 0.8;
  color: #828d9f;
}
.header__start .right-start__password::placeholder {
  font-size: 14px;
}
.header__start .right-start__submit {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background-color: #00c3bc !important;
  cursor: pointer;
  border: none;
}
.header__start .right-start .terms {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
.header__start .right-start .terms__link {
  color: #00c3bc;
}
.header__start .right-start .social {
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #5c5c5c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__start .right-start .social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 139px;
}

.features__inner {
  padding: 0 40px;
}
.features__heading {
  text-align: center;
}
.features__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #36467e;
}
.features__body {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.features .info-features {
  width: 100%;
}
.features .info-features__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 227px);
  row-gap: 20px;
  column-gap: 25px;
}
.features .info-features__about {
  margin-top: 10px;
}
.features .info-features__title {
  font-size: 18px;
  line-height: 22px;
  color: #575c6d;
}
.features .info-features__text {
  margin-top: 11px;
  font-size: 15px;
  line-height: 18px;
  color: #5c5c5c;
  padding: 0 9px 17px 0;
}
.features .info-features__watch {
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ff940d;
  position: relative;
}
.features .info-features__watch::after {
  position: absolute;
  display: block;
  content: "";
  width: 86px;
  height: 40px;
  right: -20px;
  top: -20px;
  background: url("../../images/features/arrow.png");
}
.features__video {
  position: relative;
  display: flex;
  align-items: center;
}

.what {
  padding-bottom: 34px;
}
.what__heading {
  text-align: center;
  max-width: 735px;
  margin: 0 auto;
}
.what__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #36467e;
}
.what__text {
  margin-top: 18px;
  font-size: 18px;
  line-height: 22px;
}
.what .phase-what {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 341px));
  column-gap: 17px;
  row-gap: 20px;
  color: #fff;
  justify-content: center;
  margin-top: 37px;
}
.what .phase-what__item {
  padding: 18px 16px 16px 20px;
  border-radius: 7px;
  position: relative;
}
.what .phase-what__item::before {
  position: absolute;
  display: block;
  content: "";
}
.what .phase-what__item:nth-child(1) {
  background-color: #21c4be;
}
.what .phase-what__item:nth-child(1)::before {
  width: 77px;
  height: 77px;
  background: url("../../images/what/hat.png");
  top: 4px;
  right: 24px;
}
.what .phase-what__item:nth-child(2) {
  background-color: #8b99ca;
}
.what .phase-what__item:nth-child(2)::before {
  width: 63px;
  height: 63px;
  background: url("../../images/what/monitor.png");
  top: 11px;
  right: 22px;
}
.what .phase-what__item:nth-child(3) {
  background-color: #ff940d;
}
.what .phase-what__item:nth-child(3)::before {
  width: 57px;
  height: 57px;
  background: url("../../images/what/micro.png");
  top: 14px;
  right: 16px;
}
.what .phase-what__title {
  font-size: 24px;
  line-height: 29px;
}
.what .phase-what__text {
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.what__bottom {
  text-align: center;
}
.what__wrapper {
  display: inline-block;
  position: relative;
}
.what__wrapper::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #b9d2ff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  top: 28px;
  left: -35px;
}
.what__tagline {
  font-size: 20px;
  line-height: 24px;
  margin-top: 52px;
  position: relative;
  z-index: 1;
}

.process {
  background-color: #f7faff;
  padding: 38px 80px;
}
.process .tabs-process__wrapper {
  max-width: 975px;
  margin: 0 auto;
}
.process .tabs-process__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.process .tabs-process__dottedwrapper {
  height: 2px;
  margin-left: 35px;
  position: relative;
  top: -10px;
  margin-right: 70px;
}
.process .tabs-process__dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%238B99CAFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  position: absolute;
  height: 2px;
  width: 100%;
}
.process .tabs-process__item {
  cursor: pointer;
}
.process .tabs-process__item.active .tabs-process__text {
  color: #36467e;
}
.process .tabs-process__item.active .tabs-process__circle {
  background-color: #36467e;
}
.process .tabs-process__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0 auto;
  background-color: #8b99ca;
}
.process .tabs-process__point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.process .tabs-process__text {
  font-size: 20px;
  line-height: 24px;
  color: #8b99ca;
}
.process .tabs-process__content {
  display: none;
  margin-top: 44px;
  justify-content: space-between;
}
.process .tabs-process__content.active {
  display: flex;
}
.process .tabs-process .left-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 445px;
  width: 100%;
}
.process .tabs-process .left-tabs__title {
  color: #36467e;
}
.process .tabs-process .left-tabs__about {
  margin-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #5c5c5c;
  max-width: 398px;
}
.process .tabs-process .left-tabs__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #36467e;
}
.process .tabs-process .left-tabs__list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(123px, 205px));
  justify-content: space-between;
  row-gap: 29px;
}
.process .tabs-process .left-tabs__item {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 20px;
}
.process .tabs-process .left-tabs__text {
  margin-left: 18.5px;
}
.process .tabs-process .right-tabs__image {
  width: 100%;
  min-width: 400px;
}

.result {
  padding-bottom: 26px;
}
.result__heading {
  text-align: center;
}
.result__title {
  font-size: 30px;
  line-height: 36px;
  color: #36467e;
}
.result__body {
  margin-top: 38px;
}
.result__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 350px));
  justify-content: center;
}
.result__item {
  padding: 10px 0 0 44px;
}
.result__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #b9d2ff;
  height: 49px;
}
.result__month {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #99a5b1;
}
.result__image {
  margin-bottom: 10px;
}
.result__bottom {
  margin-top: 12px;
}
.result__words {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
}
.result__point {
  display: flex;
  align-items: flex-start;
  margin-top: 11px;
}
.result__mark {
  margin-top: 2px;
}
.result__text {
  font-size: 16px;
  line-height: 19px;
  color: #5c5c5c;
  margin-left: 11px;
}
.result__button {
  max-width: 310px;
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background-color: #ff940d;
  border-radius: 4px;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
  margin-top: 34px;
  cursor: pointer;
}

.online {
  padding-bottom: 34px;
}
.online__inner {
  display: flex;
  justify-content: space-between;
}
.online__right {
  padding-top: 39px;
  margin-left: 50px;
}
.online__right .online__list {
  margin-top: 46px;
}
.online__right .online__item + .online__item {
  margin-top: 35px;
}
.online__title {
  font-size: 30px;
  line-height: 36px;
  color: #36467e;
}
.online__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.online__text {
  margin-top: 10px;
  font-size: 17px;
  line-height: 20px;
}

.course {
  background-color: #8b99ca;
  padding: 35px 0;
  min-height: 770px;
}
.course__heading {
  text-align: center;
}
.course__title {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
}
.course__body {
  margin-top: 43px;
}
.course__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  align-items: flex-start;
  justify-content: center;
  column-gap: 20px;
  row-gap: 19px;
}
.course__item {
  background-color: #8b99ca;
  height: 279px;
  text-align: center;
  box-shadow: 0px 0px 11px rgba(148, 183, 197, 0.12);
}
.course__item:hover .course__wrap {
  height: 100%;
}
.course__item:hover .course__link {
  display: flex;
}
.course__wrap {
  height: 264px;
  background-color: #fff;
  padding: 34px 15px 14px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  transition: height 0.4s;
}
.course__subtitle {
  font-size: 20px;
  line-height: 24px;
  color: #3d4e67;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course__text {
  margin-top: 7px;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
.course__image {
  margin: 0 auto;
}
.course__watch {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #00c3bc;
}
.course__arrow {
  margin-left: 9px;
  padding-top: 4px;
}
.course__link {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.course__all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}
.course__alltext {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
.course__allimage {
  margin-top: 6px;
  margin-left: 13px;
}

.questions__heading {
  text-align: center;
}
.questions__title {
  font-size: 30px;
  line-height: 36px;
}
.questions__body {
  margin-top: 73px;
}
.questions .list-questions {
  max-width: 880px;
  margin: 0 auto;
}
.questions .list-questions__content {
  display: none;
}
.questions .list-questions__item {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 26px 20px;
}
.questions .list-questions__item + .list-questions__item {
  margin-top: 28px;
}
.questions .list-questions__item.active {
  padding-left: 34px;
  border-left: 5px solid #00c3bc;
  box-shadow: 0px 0px 11px rgba(118, 118, 118, 0.17);
}
.questions .list-questions__item.active .list-questions__title {
  color: #00c3bc;
}
.questions .list-questions__item.active .list-questions__status {
  background: url("../../images/questions/minus.png") no-repeat center center;
}
.questions .list-questions__item.active .list-questions__content {
  display: block;
}
.questions .list-questions__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions .list-questions__title {
  font-size: 20px;
  line-height: 24px;
  color: #4f4f4f;
}
.questions .list-questions__status {
  width: 24px;
  height: 24px;
  background: url("../../images/questions/plus.png") no-repeat center center;
  cursor: pointer;
}
.questions .list-questions__content {
  margin-top: 18px;
}
.questions .list-questions__text {
  font-size: 16px;
  line-height: 130%;
  color: #4f4f4f;
}
.questions .list-questions__text + .list-questions__text {
  margin-top: 23px;
}

.feedback {
  padding-bottom: 102px;
}
.feedback__heading {
  text-align: center;
}
.feedback__title {
  font-size: 30px;
  line-height: 36px;
}
.feedback__body {
  margin-top: 58px;
  max-width: calc(100% - 160px);
  margin: 58px auto 0 auto;
}
.feedback .list-feedback {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  position: relative;
}
.feedback .list-feedback__item {
  max-width: 432px;
  border-radius: 8px;
  padding: 15px 25px 28px 19px;
  margin-bottom: 16px;
  background-color: #f7faff;
  -webkit-box-shadow: 17px 16px 0px 0px #8b99ca;
  -moz-box-shadow: 17px 16px 0px 0px #8b99ca;
  box-shadow: 17px 16px 0px 0px #8b99ca;
}
.feedback .list-feedback__top {
  display: flex;
  align-items: center;
}
.feedback .list-feedback__name {
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}
.feedback .list-feedback__content {
  margin-top: 16px;
}
.feedback .list-feedback__text {
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .features .info-features__list {
    justify-content: center;
  }

  .result__list {
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  ._container {
    max-width: 900px;
    padding: 0 10px;
  }

  .header .left-start__title {
    font-size: 25px;
    line-height: 36px;
  }
  .header .left-start__text {
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
  }
  .header .left-start .total__count {
    font-size: 27px;
    line-height: 33px;
  }
  .header .left-start .total__text {
    font-size: 16px;
    line-height: 21px;
  }
  .header .right-start {
    flex: 0 0 320px;
  }

  .features__body {
    flex-direction: column;
    align-items: center;
  }
  .features .info-features__watch {
    position: absolute;
    left: calc(50% - 72px);
    margin-top: 20px;
  }
  .features .info-features__watch::after {
    display: none;
  }
  .features__video {
    margin-top: 20px;
  }

  .what__text {
    font-size: 17px;
    line-height: 21px;
  }

  .process .tabs-process__content {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .process .tabs-process__content .left-tabs {
    max-width: none;
  }
  .process .tabs-process__content .left-tabs__body {
    margin-top: 20px;
  }
  .process .tabs-process__content .left-tabs__top {
    text-align: center;
  }
  .process .tabs-process__content .left-tabs__about {
    max-width: none;
  }
  .process .tabs-process__content .left-tabs__count {
    max-width: none;
  }
  .process .tabs-process__content .right-tabs {
    margin-top: 20px;
  }
  .process .tabs-process__text {
    font-size: 17px;
    line-height: 20px;
  }
  .process .tabs-process__dottedwrapper {
    max-width: calc(100% - 95px);
  }

  .result__list {
    justify-content: center;
    column-gap: 30px;
  }

  .online__left {
    display: flex;
    align-items: center;
  }
  .online__subtitle {
    font-size: 19px;
    line-height: 23px;
  }
  .online__text {
    font-size: 16px;
  }

  .course__item {
    pointer-events: none;
  }

  .feedback__body {
    max-width: 600px;
  }
  .feedback .list-feedback__item {
    max-width: 307px;
  }
  .feedback .list-feedback__next {
    right: -55px;
  }
  .feedback .list-feedback .slick-arrow {
    width: 33px;
    height: 33px;
  }
  .feedback .list-feedback__prev {
    background: url("../../images/feedback/prev_mobile.png");
  }
  .feedback .list-feedback__next {
    background: url("../../images/feedback/next_mobile.png");
  }
}
@media screen and (max-width: 768px) {
  .header .nav-header {
    display: none;
  }
  .header .top__wrapper {
    padding: 0 15px;
  }
  .header .top__wrapper .right-header {
    justify-content: flex-end;
  }
  .header .top__wrapper .right-header .header-language {
    display: none;
  }
  .header .top__wrapper .right-header__registration {
    display: none;
  }
  .header .top__wrapper .right-header__login .login__text {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    background-position-y: top;
    background-repeat: no-repeat;
  }
  .header__inner {
    min-height: 0;
  }
  .header__start {
    flex-direction: column;
    align-items: center;
  }
  .header .left-start {
    max-width: none;
    text-align: center;
  }
  .header .left-start__text {
    margin-top: 14px;
  }
  .header .left-start .total {
    max-width: none;
    justify-content: space-evenly;
    margin-top: 38px;
  }
  .header .right-start {
    margin-top: 56px;
    max-width: 335px;
    flex: 0 1 auto;
    height: auto;
  }
  .header .right-start__social {
    flex-direction: column;
  }
  .header .right-start .social__list {
    margin-top: 15px;
  }

  .features__inner {
    padding: 0 15px;
  }
  .features__title {
    font-size: 26px;
    color: #36467e;
  }
  .features .info-features__list {
    position: relative;
  }
  .features .info-features__item {
    display: flex;
    align-items: flex-start;
  }
  .features .info-features__image {
    margin-top: 10px;
  }
  .features .info-features__about {
    margin-left: 14px;
  }
  .features .info-features__watch {
    bottom: -45px;
  }

  .process {
    padding: 0;
  }
  .process .tabs-process__item .tabs-process__text {
    display: none;
  }
  .process .tabs-process__item.active .tabs-process__text {
    display: block;
    position: absolute;
    left: calc(50% - 50px);
    top: 55px;
  }
  .process .tabs-process__dottedwrapper {
    max-width: none;
    margin: 0;
  }
  .process .tabs-process__item:nth-child(4).active .tabs-process__text {
    left: calc(50% - 80px);
  }
  .process .tabs-process__item:nth-child(5).active .tabs-process__text {
    left: calc(50% - 90px);
  }
  .process .tabs-process__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  .process .tabs-process .left-tabs__top {
    margin-top: 40px;
    text-align: start;
  }
  .process .tabs-process .left-tabs__title {
    font-size: 16px;
    line-height: 19px;
  }
  .process .tabs-process .left-tabs__subtitle {
    text-align: center;
  }
  .process .tabs-process .right-tabs {
    width: 100%;
  }
  .process .tabs-process .right-tabs__image {
    min-width: 0;
  }

  .result__list {
    row-gap: 25px;
  }
  .result__item {
    padding: 0;
  }

  .online__inner {
    flex-direction: column;
  }
  .online__left {
    justify-content: center;
  }
  .online__right {
    margin-left: 0;
  }

  .course__item {
    height: auto;
  }
  .course__wrap {
    height: auto;
    padding: 10px;
  }
  .course__top {
    display: flex;
    align-items: center;
  }
  .course__list {
    grid-template-columns: none;
  }
  .course__image {
    margin: 0;
    width: 50px;
  }
  .course__subtitle {
    justify-content: flex-start;
    height: auto;
  }
  .course__text {
    text-align: start;
  }
  .course__content {
    margin-left: 10px;
  }

  .questions .list-questions__item {
    padding: 13px 12px;
  }
  .questions .list-questions__item.active {
    padding-left: 20px;
  }

  .feedback .list-feedback__item {
    box-shadow: none;
    max-width: none;
    padding: 15px 38px 28px 39px;
  }
  .feedback .list-feedback__prev {
    left: 0;
  }
  .feedback .list-feedback__next {
    right: 0;
  }
  .feedback .slick-track {
    column-gap: 0;
  }

  .what__wrapper {
    width: calc(100% - 20px);
  }
  .what__wrapper::before {
    left: 0;
  }
}
@media screen and (max-width: 520px) {
  .features__video iframe {
    width: 400px;
  }
  .features .info-features__list {
    grid-template-columns: none;
  }
  .features .info-features__text br {
    display: none;
  }

  .questions .list-questions__status {
    width: 30px;
    background-position-x: right;
  }
  .questions .list-questions__title {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 440px) {
  .header .left-start .total {
    padding-right: 0;
  }
  .header .left-start .total__count {
    font-size: 18px;
    line-height: 22px;
  }
  .header .left-start .total__hours {
    font-size: 15px;
  }
  .header .left-start .total__text {
    font-size: 11px;
    line-height: 13px;
  }

  .features__video iframe {
    width: 300px;
  }

  .result__title {
    font-size: 25px;
  }

  .online__right {
    margin-left: 0;
  }
  .online__title {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
  }

  .course__title {
    font-size: 22px;
    line-height: 26px;
  }
  .course__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .process .tabs-process .left-tabs__list {
    grid-template-columns: repeat(auto-fill, 123px);
  }
  .process .tabs-process .left-tabs__text {
    font-size: 12px;
    line-height: 14px;
  }

  .what__wrapper::before {
    top: 36px;
  }
  .what__tagline {
    font-size: 17px;
    line-height: 21px;
  }
}

/*# sourceMappingURL=style.css.map */
